*{
    margin: 0;
    padding: 0;
   
    
    
}
body{
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    position: relative;
}
#nav_bar{
    position: fixed;
    z-index: 997;
    transition: all 0.5s;
    box-shadow: -21.213px 21.213px 30px 0px rgb(158 158 158 / 30%);
    width: 100%;
}
#nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(92, 87, 87,0.9);
    height: 12vh;
}
#nav_icon{
    position: relative;
    right: 4rem;
}
#nav_icon h1{
    color: #fff;
    font-size: 24px;
}
#nav_icon h1 span{
    color: #ff004f;
    font-size: 26px;
}

#nav_info{
    position: relative;
    left: 4rem;
}
#nav_info a{
    margin: 2rem;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
}
#nav_info a:hover{
    color: #ff004f;
    
}
#nav_info a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.6s;
}

#nav_info a:hover::after{
    width: 100%;
}

 #main_content{
    height: 611PX;
   display: flex;
   justify-content: space-between;
   align-items: center;
    background-color: #f9f9ff;
}

.header-text{
   
    padding-top:13rem;
    padding-left: 135px;
     font-size: 30px;
}
.header-text h1{
    font-size: 80px;
    margin-top: 80px;
}
.header-text p span{
    color: #ff004f;
    font-size:45px;
}
.header-text h1 span{
    color: #ff004f;

}
.button{
    height: 3rem;
    width: 11rem;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    color: #fff;
    background: linear-gradient(0deg,#8490ff 0%,#62bdfc 100%);
}
.button:hover{
    transition: all .5s;
    box-shadow: 0px 30px 30px 0 rgba(42, 39, 39, 0.3);
}

.content_pic{
position: relative;
right: 10rem;
}

#about_card{
    padding-top: 50x;
    display: flex;
    justify-content: space-around;
}
.about_img img{
    width: 25rem;
    height: auto;
}
.about_details{
    width: 25rem;
    position: relative;
    right: 4rem;
    top: 8.5rem;
}
.about_details h6{
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 42px;
    /* color: #222222; */
}

.about_details p{
    margin-bottom: 30px;
    max-width: 445px;
    font-size: 16px;
}

.about_details button{
    margin-top: 30px;
}
#about_container{
    margin-top: 49px;
    width: 81vw;
    margin-left: 8rem;
}
#about_wrap p{
    margin-bottom: 25px;
    font-size: 16px;
}
 #about_wrap h4{
    padding-top: 24px;
    font-size: 42px;
    font-weight: 600;
   
}
#skill_containts{
    display: flex;
    justify-content: space-between;
    margin-top: 38px;

}
#skill_bar_left{
    width:48%;
}
#skill_bar_right{
    width: 48%;
}
.skill_label1{
    position: relative;
    border: 3px solid #eee;
    background-color: rgb(221, 221, 221);
    height: 7px;
    border-radius: 12px;
    margin-bottom: 27px;
}
.skill_label2{
    position: absolute;
    height: 100%;
    border-radius: 12px;
    background: -webkit-linear-gradient(0deg,#8490ff 0%,#62bdfc 100%);
    margin-bottom: 27px;
}
.one{
    width: 85%;
}
.two{
    width:80%;
}
.three{
    width: 95%;
}
.four{
    width: 85%;
}
.five{
    width: 80%;
}
.six{
    width: 70%;
}
.seven{
    width:60%;
}
.skill_label3{
    display: block;
    padding-left: 5px;
    line-height: 30px;
    color: rgb(255, 255, 255);
}
.skill p{
    text-align: right;
    font-size: 16px;
}
#education_title{
   text-align: center;
   margin-top: 80px;
   font-weight: 700;
    
}
.head{
    font-size:36px;
}

#education_content{
    margin-top: 8rem;
}
#education_content li{
    background: #58585a;
    position: relative;
    margin: 0 auto;
    width: 2px;
    padding-bottom: 40px;
    list-style-type: none;
}
#education_content li:before {
    content: '';
    background:#ff004f;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 12px;
    height: 11px;
    border: 5px solid #e0d8d8;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
 .education_list{
    opacity: 1;
    background-color: white;
    box-shadow: 0px 10px 27px 3px rgba(125, 119, 119, 0.8);
    position: relative;
    top: 7px;
    width: 360px;
    padding: 30px;
    text-align: center;
}
.education_list:hover{
    background-color: #ff004f;
    transform: translateY(-30px);
    transition: 0.4s;
    color: #fff;
}

#education_content li:nth-child(odd) .education_list {
    left: 50px;
}
#education_content li:nth-child(even) .education_list {
    left: calc(-429px - 45px);
}
.education_list h1{
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
}
.education_list p{
    padding-bottom: 5px;
    font-weight: 100;
   
}

 #portfolio_bar{
    text-align: center;
    margin-top: 8rem;
}
.portfolio_content h1{
    margin-bottom: 1rem;
    
}
.port_link{
    padding-top: 12px;
}
    
.port_link a{
    text-decoration: none;
    margin: 18px ;
    cursor: pointer;
    text-transform: uppercase;
     font-size: 18px;
    font-weight: 400;
    color: #777777;
    position: relative;
}
.port_link a:hover {
    color: #ff004f;
}
.port_link a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.6s;
}
.port_link a:hover::after{
    width: 100%;
}

#image_content{
    margin-top: 3rem;
    margin-left:5rem;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 50px ;
    grid-gap: 40px;
}
.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}


.work img {
    width: 100%;
    height:410px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer p{
   text-align: justify;
}
.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 3px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    color: #fff;
}
.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img {
   transform: scale(1.1);
}
.work:hover .layer {
    height: 100%;
}

/* //////////////////// */

.container{
    background: #777777;
    color: #fff;
    padding-top: 90px;
}
.row{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 24px;
}
.contact-left {
    margin-top: 42px;
}
.contact-right {
    flex-basis: 40%;
}
.sub-title{
    font-size: 42px;
}
.contact-left p {
    margin-top: 30px;
    font-size: 18px;
}
.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons {
    margin-top: 30px;
}
.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #fff;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2 {
    display: inline-block;
    background: #ff004f;
    color: #fff;
  
}
.contact-right form {
    width: 100%;
}
form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    margin: 15px 0;
    padding: 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    color: #fff;
}
.copyright i {
    color: #ff004f;
}


/* .proContent{
    display: inline-block;
    text-align: center;
    margin-left: 85px;
}
.proContent h4{
    font-size: 22px;
}
.proContent p{
    margin-top: 4px;
}
#contact_bar{
    margin-top: 5rem;
    background-color: #04091e;
    height: 24rem;
  
} 
.contact_item{
    padding-top: 7rem;
    display: flex;
    justify-content:space-evenly;
    margin-left: 5rem;
}
.about{
    width: 24rem;
    position: relative;
    right: 2rem;
}
.about p{
    padding-top: 13px;
}
.contact_item1 h3{
    color: #ffff;
    padding-bottom: 27px;
}
.newsletter{
    position: relative;
    right: 3rem;
}
.newsletter p{
    margin-top: 12px;
}
.searchItem{
    background-color: #ffff;
    width:23rem ;
    height: 46px;
    border: none;
    padding-left: 29px;
}
.search{
    display: flex;
    margin-top: 12px;
}
.searchButton{
    background-color: #8490ff;
    width: 3rem;
    height: 46px;
    position: relative;
    right: 3px;
    border: none;
    color:#ffffff ;
    cursor: pointer;
}
.followme{
    position: relative;
    right: 3rem;
}
.followme p{
    margin-top: 12px;
}
.contact_link{
    margin-top: 21px;
    text-align: center;
}
.contact_link a{
    color: #ffffff;
    padding-right: 14px;
} */